alembic==1.7.5
asyncio==3.4.3
bidict==0.21.4
cffi==1.15.0
click==8.0.3
colorama==0.4.4
cryptography==35.0.0
dnspython==2.1.0
eventlet==0.32.0
flask==2.0.2
Flask-Migrate==2.5.3
Flask-Script==2.0.6
flask-sock==0.4.0
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.5.1
gevent==21.8.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
numpy==1.21.4
opencv-python==4.5.3.56
Pillow==8.4.0
pycparser==2.21
PyJWT==2.3.0
PyMySQL==1.0.2
python-engineio==3.13.2
python-socketio==4.6.0
simple-websocket==0.4.0
six==1.16.0
SQLAlchemy==1.4.27
websocket==0.2.1
websockets==10.0
Werkzeug==2.0.2
wsproto==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
